In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv("life_exp.csv")

In [4]:
df

,Unnamed: 0,Life_Expectancy,Average_Temperature,Daily_Screen_Time,Health_Index,Income,Country,Diet_Type,Government_Health_Policy
0,0,72.483571,17.923146,4.357787,71.654576,74294.715447,Country B,Vegetarian,1.0
1,1,69.308678,22.896773,4.560785,68.748497,73109.928448,Country B,Non-Vegetarian,1.0
2,2,73.238443,23.286427,5.083051,73.985736,78248.930090,Country C,Vegetarian,1.0
3,3,77.615149,20.988614,5.053802,78.225520,82709.110470,Country C,Vegan,1.0
4,4,68.829233,24.193571,2.622331,68.808332,72929.102183,Country A,Vegetarian,1.0
...,...,...,...,...,...,...,...,...,...
95,95,62.682425,26.926587,3.307090,62.213250,68760.245347,Country C,Non-Vegetarian,1.0
96,96,71.480601,20.580713,4.899600,69.767467,74406.109077,Country A,Non-Vegetarian,1.0
97,97,71.305276,25.768626,4.307300,72.659149,75924.599005,Country B,Non-Vegetarian,1.0
98,98,70.025567,25.291044,4.812862,69.911027,73274.330776,Country C,Non-Vegetarian,1.0
99,99,68.827064,19.285149,4.629629,70.064881,71061.464871,Country C,Vegan,1.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                100 non-null    int64
 1   Life_Expectancy           100 non-null    float64
 2   Average_Temperature       100 non-null    float64
 3   Daily_Screen_Time         100 non-null    float64
 4   Health_Index              100 non-null    float64
 5   Income                    100 non-null    float64
 6   Country                   100 non-null    object
 7   Diet_Type                 100 non-null    object
 8   Government_Health_Policy  100 non-null    float64
dtypes: float64(6), int64(1), object(2)
memory usage: 7.2+ KB

In [6]:
df.describe()

,Unnamed: 0,Life_Expectancy,Average_Temperature,Daily_Screen_Time,Health_Index,Income,Government_Health_Policy
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0
mean,49.500000,69.480767,25.111523,4.064896,69.587608,74368.758472,1.0
std,29.011492,4.540842,4.768345,1.084283,4.475948,4744.899489,0.0
min,0.000000,56.901274,15.406144,0.758733,59.054457,62441.446464,1.0
25%,24.750000,66.995472,20.971697,3.344556,66.820378,70968.995974,1.0
50%,49.500000,69.365219,25.420536,4.097696,69.626849,74399.904642,1.0
75%,74.250000,72.029760,27.690852,4.704437,72.651242,78126.987900,1.0
max,99.000000,79.261391,38.600846,7.852731,79.173729,86449.739694,1.0

In [10]:
df["Unnamed: 0"].value_counts().sum()

np.int64(100)

In [11]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [12]:
df

,Life_Expectancy,Average_Temperature,Daily_Screen_Time,Health_Index,Income,Country,Diet_Type,Government_Health_Policy
0,72.483571,17.923146,4.357787,71.654576,74294.715447,Country B,Vegetarian,1.0
1,69.308678,22.896773,4.560785,68.748497,73109.928448,Country B,Non-Vegetarian,1.0
2,73.238443,23.286427,5.083051,73.985736,78248.930090,Country C,Vegetarian,1.0
3,77.615149,20.988614,5.053802,78.225520,82709.110470,Country C,Vegan,1.0
4,68.829233,24.193571,2.622331,68.808332,72929.102183,Country A,Vegetarian,1.0
...,...,...,...,...,...,...,...,...
95,62.682425,26.926587,3.307090,62.213250,68760.245347,Country C,Non-Vegetarian,1.0
96,71.480601,20.580713,4.899600,69.767467,74406.109077,Country A,Non-Vegetarian,1.0
97,71.305276,25.768626,4.307300,72.659149,75924.599005,Country B,Non-Vegetarian,1.0
98,70.025567,25.291044,4.812862,69.911027,73274.330776,Country C,Non-Vegetarian,1.0
99,68.827064,19.285149,4.629629,70.064881,71061.464871,Country C,Vegan,1.0

In [13]:
df.describe()

,Life_Expectancy,Average_Temperature,Daily_Screen_Time,Health_Index,Income,Government_Health_Policy
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.0
mean,69.480767,25.111523,4.064896,69.587608,74368.758472,1.0
std,4.540842,4.768345,1.084283,4.475948,4744.899489,0.0
min,56.901274,15.406144,0.758733,59.054457,62441.446464,1.0
25%,66.995472,20.971697,3.344556,66.820378,70968.995974,1.0
50%,69.365219,25.420536,4.097696,69.626849,74399.904642,1.0
75%,72.029760,27.690852,4.704437,72.651242,78126.987900,1.0
max,79.261391,38.600846,7.852731,79.173729,86449.739694,1.0

In [15]:
df.corr(numeric_only=True)

,Life_Expectancy,Average_Temperature,Daily_Screen_Time,Health_Index,Income,Government_Health_Policy
Life_Expectancy,1.000000,-0.136422,0.190840,0.980875,0.895932,NaN
Average_Temperature,-0.136422,1.000000,-0.036632,-0.141879,-0.045018,NaN
Daily_Screen_Time,0.190840,-0.036632,1.000000,0.193556,0.135069,NaN
Health_Index,0.980875,-0.141879,0.193556,1.000000,0.895719,NaN
Income,0.895932,-0.045018,0.135069,0.895719,1.000000,NaN
Government_Health_Policy,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df

,Life_Expectancy,Average_Temperature,Daily_Screen_Time,Health_Index,Income,Country,Diet_Type,Government_Health_Policy
0,72.483571,17.923146,4.357787,71.654576,74294.715447,Country B,Vegetarian,1.0
1,69.308678,22.896773,4.560785,68.748497,73109.928448,Country B,Non-Vegetarian,1.0
2,73.238443,23.286427,5.083051,73.985736,78248.930090,Country C,Vegetarian,1.0
3,77.615149,20.988614,5.053802,78.225520,82709.110470,Country C,Vegan,1.0
4,68.829233,24.193571,2.622331,68.808332,72929.102183,Country A,Vegetarian,1.0
...,...,...,...,...,...,...,...,...
95,62.682425,26.926587,3.307090,62.213250,68760.245347,Country C,Non-Vegetarian,1.0
96,71.480601,20.580713,4.899600,69.767467,74406.109077,Country A,Non-Vegetarian,1.0
97,71.305276,25.768626,4.307300,72.659149,75924.599005,Country B,Non-Vegetarian,1.0
98,70.025567,25.291044,4.812862,69.911027,73274.330776,Country C,Non-Vegetarian,1.0
99,68.827064,19.285149,4.629629,70.064881,71061.464871,Country C,Vegan,1.0

In [16]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [19]:
model = ols('Life_Expectancy ~ C(Country) + C(Diet_Type) + C(Country):C(Diet_Type)', data=df).fit()

In [20]:
anova_table = sm.stats.anova_lm(model, typ=2)

In [21]:
anova_table

                              sum_sq    df         F    PR(>F)
C(Country)                 28.499972   2.0  0.706552  0.496028
C(Diet_Type)               71.087330   2.0  1.762349  0.177448
C(Country):C(Diet_Type)   115.615265   4.0  1.433128  0.229411
Residual                 1835.319446  91.0       NaN       NaN

In [22]:
### F za diet i C(Country):C(Diet_Type) imaju značajne razlike između grupa, a p_value je veći od 0.05
### što znači da je statistički slučajna....

In [23]:
### PCA metoda

In [26]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [27]:
angazman = pd.read_csv("angazman.csv")

In [28]:
angazman

,Broj_Posjeta_Web_Stranici_u_Tjednu,Prosjecno_Vrijeme_na_Stranici_Min,Broj_Pregledanih_Proizvoda,Odustajanje_Kupca
0,47,52,95,1
1,41,51,60,0
2,53,71,100,1
3,63,87,125,0
4,30,51,74,1
...,...,...,...,...
195,42,61,96,0
196,20,41,54,1
197,48,52,86,0
198,40,56,76,1
199,32,43,49,1

In [29]:
angazman.corr()

,Broj_Posjeta_Web_Stranici_u_Tjednu,Prosjecno_Vrijeme_na_Stranici_Min,Broj_Pregledanih_Proizvoda,Odustajanje_Kupca
Broj_Posjeta_Web_Stranici_u_Tjednu,1.000000,0.770044,0.782826,-0.443231
Prosjecno_Vrijeme_na_Stranici_Min,0.770044,1.000000,0.764575,-0.379913
Broj_Pregledanih_Proizvoda,0.782826,0.764575,1.000000,-0.362261
Odustajanje_Kupca,-0.443231,-0.379913,-0.362261,1.000000

In [ ]:
### Prvi korak bez kojeg smo i mogli, ali ga je bolje napraviti...

In [30]:
# PCA je osjetljiv na skalu varijabli, pa ih moramo standardizirati.
# Stvaramo novi DataFrame samo s nezavisnim varijablama za PCA.
X = angazman[['Broj_Posjeta_Web_Stranici_u_Tjednu',
        'Prosjecno_Vrijeme_na_Stranici_Min',
        'Broj_Pregledanih_Proizvoda']]

In [31]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [33]:
X_scaled

array([[ 0.5984978 , -0.3245536 ,  0.85653339],
       [ 0.12318519, -0.37937684, -0.55058553],
       [ 1.07381041,  0.71708802,  1.05755038],
       [ 1.8659981 ,  1.59425991,  2.06263532],
       [-0.74822127, -0.37937684,  0.01226204],
       [-0.58978373,  0.22367883,  0.7359232 ],
       [ 1.70756056,  1.04602748,  1.09775378],
       [ 0.91537287,  0.77191126,  0.13287223],
       [-0.27290866, -0.3245536 , -1.23404329],
       [ 2.02443564,  0.88155775,  1.25856737],
       [-0.19368989,  0.00438586, -0.06814476],
       [ 0.04396642, -0.98243252, -0.42997534],
       [ 0.5984978 , -0.48902333,  0.37409262],
       [-1.54040896, -1.092079  , -2.23912824],
       [-1.77806527, -1.42101846, -0.34956854],
       [-0.19368989, -0.87278603, -0.42997534],
       [-1.30275265, -0.05043738, -0.83200932],
       [ 0.20240395,  0.4429718 ,  0.6555164 ],
       [-1.06509635, -0.16008387, -0.55058553],
       [-1.30275265, -1.25654873, -1.1536365 ],
       [ 2.34131071,  2.63590153,  0.97714358],
       [-0.98587758,  0.82673451,  0.05246543],
       [ 0.36084149,  0.00438586,  1.01734698],
       [-2.01572157, -0.76313954, -0.59078893],
       [-0.6690025 , -0.10526063,  0.29368582],
       [ 0.51927903,  0.93638099, -0.10834816],
       [-1.06509635, -1.58548819, -1.47526368],
       [-0.03525235,  0.82673451,  0.29368582],
       [-0.82744004,  0.0592091 , -0.47017874],
       [-0.03525235, -1.14690225,  0.29368582],
       [-0.82744004, -1.14690225, -1.31445009],
       [ 1.8659981 ,  0.77191126,  2.4646693 ],
       [ 0.04396642, -0.05043738, -0.06814476],
       [-1.22353388, -0.54384657, -1.1134331 ],
       [ 1.62834179,  1.7039064 ,  0.29368582],
       [-0.90665881, -1.092079  , -1.87729766],
       [-0.58978373,  1.21049721,  0.615313  ],
       [-1.77806527, -2.62712981, -1.71648407],
       [-1.54040896, -2.13372062, -1.79689086],
       [ 0.51927903,  0.22367883, -0.42997534],
       [ 0.36084149,  1.04602748,  0.53490621],
       [ 0.12318519,  0.22367883,  0.97714358],
       [ 0.12318519, -1.14690225, -0.18875495],
       [ 0.04396642, -0.26973036, -0.95261951],
       [-1.85728403, -2.07889738, -1.43506028],
       [-0.82744004, -0.26973036, -0.75160252],
       [-0.58978373, -0.16008387, -1.67628067],
       [ 0.75693534,  0.60744153,  0.97714358],
       [ 0.99459164,  0.16885559,  0.21327903],
       [-1.54040896, -2.24336711, -1.23404329],
       [-0.19368989,  0.38814856,  1.21836397],
       [-0.03525235,  0.22367883,  0.21327903],
       [ 0.20240395, -1.14690225, -0.71139912],
       [ 0.99459164,  0.99120424,  0.05246543],
       [ 0.36084149,  0.82673451,  2.22344891],
       [ 0.67771657,  0.55261829,  0.89673679],
       [-0.27290866, -0.81796279, -0.71139912],
       [-0.58978373, -0.76313954, -0.26916175],
       [ 0.51927903,  0.11403235,  0.41429601],
       [ 1.23224795,  0.38814856,  0.85653339],
       [-0.82744004,  0.71708802, -0.67119573],
       [-0.19368989, -0.05043738, -0.38977194],
       [-2.33259665, -1.36619522, -0.99282291],
       [-1.54040896, -0.98243252, -1.31445009],
       [ 0.67771657,  0.82673451,  0.41429601],
       [ 0.8361541 ,  1.32014369,  1.29877076],
       [ 0.5984978 ,  0.33332532, -0.14855155],
       [ 0.36084149,  1.48461342,  1.66060134],
       [ 0.20240395,  0.16885559, -0.91241611],
       [-0.58978373, -0.87278603, -0.02794136],
       [ 0.91537287,  0.27850208,  0.97714358],
       [ 0.91537287,  0.33332532,  0.41429601],
       [ 0.44006026, -0.76313954, -0.14855155],
       [ 1.46990425,  2.36178531,  1.25856737],
       [-2.88712803, -1.58548819, -2.9627894 ],
       [ 0.99459164,  0.77191126,  0.41429601],
       [ 0.20240395,  0.49779505, -0.42997534],
       [-0.51056496, -0.05043738,  0.615313  ],
       [ 0.12318519,  1.86837613,  0.5751096 ],
       [-2.01572157, -1.25654873, -1.1536365 ],
       [-0.19368989, -0.21490711,  0.17307563],
       [ 0.5984978 , -0.10526063, -0.18875495],
       [ 2.02443564,  0.66226478,  1.09775378],
       [-0.98587758, -0.3245536 , -0.18875495],
       [ 0.04396642, -1.14690225, -1.27424669],
       [-1.22353388, -1.20172549, -0.06814476],
       [ 0.8361541 ,  0.66226478,  0.7359232 ],
       [ 0.51927903, -0.16008387,  0.13287223],
       [-0.35212743,  0.49779505, -0.10834816],
       [ 0.28162272,  1.10085072,  0.6957198 ],
       [ 0.04396642,  0.16885559, -0.06814476],
       [ 0.75693534,  1.86837613,  1.45958436],
       [-0.90665881, -0.54384657, -1.1134331 ],
       [ 0.04396642, -0.7083163 ,  0.05246543],
       [-0.19368989,  0.55261829, -0.02794136],
       [-1.6988465 , -1.03725576, -1.43506028],
       [ 0.67771657, -0.21490711,  0.45449941],
       [ 0.36084149,  0.22367883, -0.34956854],
       [ 0.36084149, -0.37937684,  0.49470281],
       [ 0.04396642, -0.92760927, -0.26916175],
       [-1.6988465 , -0.81796279, -1.51546708],
       [-0.58978373,  0.71708802,  0.17307563],
       [-0.03525235, -1.03725576, -0.63099233],
       [-0.51056496, -0.37937684, -1.35465349],
       [-0.19368989, -0.43420009, -0.87221271],
       [ 0.44006026,  0.22367883,  0.6957198 ],
       [ 2.34131071,  1.64908315,  1.13795717],
       [-0.03525235, -0.21490711,  1.01734698],
       [ 0.44006026,  0.38814856, -0.75160252],
       [-0.11447112, -0.43420009,  0.77612659],
       [-1.9365028 , -1.64031143, -1.59587387],
       [ 0.44006026,  0.0592091 , -0.02794136],
       [ 0.36084149,  0.00438586, -0.18875495],
       [ 2.65818579,  2.03284586,  2.4646693 ],
       [ 0.36084149, -0.43420009, -0.14855155],
       [ 0.28162272,  0.77191126,  0.85653339],
       [ 0.20240395,  0.33332532,  0.05246543],
       [-1.22353388, -1.58548819, -0.95261951],
       [ 1.23224795,  1.26532045,  0.89673679],
       [ 0.67771657,  1.26532045,  0.6957198 ],
       [ 0.75693534, -0.05043738,  0.89673679],
       [-0.58978373, -0.48902333, -1.59587387],
       [ 0.99459164,  1.10085072,  0.6555164 ],
       [-0.51056496, -0.98243252, -0.87221271],
       [ 0.20240395,  0.22367883,  0.6555164 ],
       [ 1.62834179,  1.26532045,  1.94202513],
       [-0.51056496, -1.80478116, -0.87221271],
       [-0.19368989, -0.43420009, -0.30936515],
       [ 0.36084149,  0.33332532, -0.14855155],
       [-0.19368989, -0.92760927, -0.79180592],
       [-1.46119019, -1.092079  , -1.27424669],
       [-0.27290866, -0.76313954, -0.38977194],
       [-0.98587758, -0.98243252, -0.75160252],
       [ 0.20240395, -0.10526063, -0.34956854],
       [-0.51056496, -1.20172549, -0.30936515],
       [ 1.39068549,  1.64908315,  1.66060134],
       [-1.06509635, -1.14690225, -0.55058553],
       [-0.4313462 , -0.43420009,  0.21327903],
       [ 0.91537287,  1.42979018,  1.58019455],
       [-1.38197142, -1.42101846, -0.59078893],
       [-0.11447112,  0.77191126, -0.63099233],
       [ 1.31146672,  0.77191126,  0.615313  ],
       [-1.46119019, -1.20172549, -1.71648407],
       [-0.03525235,  1.04602748,  0.21327903],
       [ 0.04396642, -1.03725576,  0.53490621],
       [ 0.8361541 ,  0.4429718 ,  0.37409262],
       [-1.77806527, -0.81796279, -0.99282291],
       [-1.77806527, -1.31137198, -1.51546708],
       [ 0.20240395,  0.82673451,  0.21327903],
       [ 0.20240395,  0.0592091 , -0.38977194],
       [ 0.36084149,  0.38814856, -0.18875495],
       [ 0.91537287,  0.33332532, -0.30936515],
       [-0.27290866,  0.0592091 , -1.0732297 ],
       [ 0.12318519,  0.4429718 ,  0.7359232 ],
       [ 0.28162272,  0.55261829, -0.14855155],
       [-1.06509635, -0.81796279,  0.6555164 ],
       [ 1.78677933,  1.64908315,  1.94202513],
       [ 0.36084149,  0.33332532,  0.53490621],
       [-0.98587758, -0.87278603, -1.47526368],
       [ 0.28162272,  0.49779505,  0.97714358],
       [-0.74822127, -0.7083163 , -1.1134331 ],
       [ 1.39068549,  1.97802261,  0.81632999],
       [ 1.07381041,  1.7039064 ,  2.30385571],
       [-0.58978373, -0.92760927, -0.75160252],
       [ 1.23224795,  1.7039064 ,  1.45958436],
       [ 0.20240395,  0.27850208,  0.05246543],
       [ 0.8361541 , -0.21490711,  0.77612659],
       [ 1.78677933,  1.42979018,  2.58527949],
       [-0.19368989, -1.20172549, -0.51038213],
       [-0.98587758, -0.87278603,  0.21327903],
       [-0.82744004, -0.76313954, -0.42997534],
       [-0.58978373,  0.22367883, -0.99282291],
       [ 0.51927903,  0.16885559,  0.25348242],
       [ 0.67771657,  0.27850208,  0.81632999],
       [ 1.15302918,  0.82673451,  0.5751096 ],
       [ 0.51927903, -0.3245536 ,  0.01226204],
       [ 0.36084149,  0.22367883, -0.30936515],
       [ 1.46990425,  1.92319937,  1.21836397],
       [ 0.5984978 , -0.98243252, -0.22895835],
       [ 2.26209194,  3.40342693,  2.78629648],
       [ 0.28162272,  0.88155775,  0.6957198 ],
       [-1.06509635, -0.98243252, -1.39485688],
       [-1.85728403, -0.59866982, -0.75160252],
       [ 0.28162272,  1.81355288,  0.77612659],
       [-0.51056496, -0.05043738,  0.09266883],
       [ 0.75693534,  0.93638099,  1.21836397],
       [ 0.5984978 ,  0.27850208,  0.85653339],
       [ 0.67771657, -0.43420009,  0.17307563],
       [-0.4313462 , -0.26973036, -0.75160252],
       [-1.6988465 , -1.85960441, -2.15872144],
       [-0.74822127, -0.3245536 , -0.14855155],
       [ 0.99459164,  0.66226478,  0.89673679],
       [-0.35212743,  0.55261829,  0.37409262],
       [-0.4313462 , -0.98243252, -1.71648407],
       [ 0.5984978 ,  0.82673451, -0.34956854],
       [ 0.20240395,  0.16885559,  0.89673679],
       [-1.54040896, -0.92760927, -0.79180592],
       [ 0.67771657, -0.3245536 ,  0.49470281],
       [ 0.04396642, -0.10526063,  0.09266883],
       [-0.58978373, -0.81796279, -0.99282291]])

In [34]:
pca = PCA(n_components=1)
principal_components = pca.fit_transform(X_scaled)

In [35]:
angazman["angazman"] = principal_components

In [36]:
angazman

,Broj_Posjeta_Web_Stranici_u_Tjednu,Prosjecno_Vrijeme_na_Stranici_Min,Broj_Pregledanih_Proizvoda,Odustajanje_Kupca,angazman
0,47,52,95,1,0.655226
1,41,51,60,0,-0.464907
2,53,71,100,1,1.645457
3,63,87,125,0,3.189451
4,30,51,74,1,-0.644420
...,...,...,...,...,...
195,42,61,96,0,0.732590
196,20,41,54,1,-1.883173
197,48,52,86,0,0.491993
198,40,56,76,1,0.018530
199,32,43,49,1,-1.385621